<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Case Details | {{ bought.user.username }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!-- <h2 style="color:#2A1770;" text-center>Case Details</h2> -->

    <ion-card>
        <ion-card-header>
            <h3 style="color:#6d0101; font-size:19px;">{{ bought.type_of_violation }}</h3>
        </ion-card-header>
        <ion-card-content>

            <p style="color:black;">
                <ion-label>date_reported {{ bought.date_reported | date }} at {{ bought.date_reported | date:"shortTime" }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">description_of_perpetrator</h3>
            <p style="color:black;">
                <ion-label>{{ bought.description_of_perpetrator }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">motivations_behind_incident</h3>
            <p style="color:black;">
                <ion-label>{{ bought.motivations_behind_incident }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">what_happened</h3>
            <p style="color:black;">
                <ion-label>{{ bought.what_happened }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">how_it_happened</h3>
            <p style="color:black;">
                <ion-label>{{ bought.how_it_happened }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">community_description</h3>
            <p style="color:black;">
                <ion-label>{{ bought.community_description }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">evidence_files</h3>
            <p style="color:black;">
                <ion-label>{{ bought.evidence_files }}
                </ion-label>
                <ion-img [src]="bought.evidence_files"></ion-img>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">location</h3>
            <p style="color:black;">
                <ion-label>{{ bought.location }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">View Location on Map</h3>
            <p style="color:black;">
                <ion-label>{{ bought.latitude }} , {{ bought.longitude }}
                </ion-label>
            </p>

            <hr>
            <h3 style="color:#6d0101; font-size:18px;">identity_verification</h3>
            <p style="color:black;">
                <ion-label>{{ bought.identity_verification }}
                </ion-label>
                <ion-img [src]="bought.identity_verification"></ion-img>
            </p><hr>

            <p style="color:black;">
                <ion-label>Posted on {{ bought.timestamp | date }} at {{ bought.timestamp | date:"shortTime" }}
                </ion-label>
            </p>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="bought">
        <h1>Details of Victims</h1>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">names_of_vitims</h3>
        <p style="color:black;">
            <ion-label>{{ bought.names_of_vitims }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">description_of_victims</h3>
        <p style="color:black;">
            <ion-label>{{ bought.description_of_victims }}
            </ion-label>
        </p>


        <hr>
        <h3 style="color:#6d0101; font-size:18px;">victim_age</h3>
        <p style="color:black;">
            <ion-label>{{ bought.victim_age }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">victim_gender</h3>
        <p style="color:black;">
            <ion-label>{{ bought.victim_gender }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">Gender Description</h3>
        <p style="color:black;">
            <ion-label>{{ bought.describe_gender }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">victim_phone_number</h3>
        <p style="color:black;">
            <ion-label>{{ bought.victim_phone_number }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">victim_address</h3>
        <p style="color:black;">
            <ion-label>{{ bought.victim_address }}
            </ion-label>
        </p>
    </ion-card>

    <ion-card *ngIf="bought.company">
        <h1>Company Details</h1>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">name</h3>
        <p style="color:black;">
            <ion-label>{{ bought.company.name }}
            </ion-label>
        </p>


        <hr>
        <h3 style="color:#6d0101; font-size:18px;">description</h3>
        <p style="color:black;">
            <ion-label>{{ bought.company.description }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">location</h3>
        <p style="color:black;">
            <ion-label>{{ bought.company.location }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">owners</h3>
        <p style="color:black;">
            <ion-label>{{ bought.company.owners }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">when_it_started_operating</h3>
        <p style="color:black;">
            <ion-label>{{ bought.company.when_it_started_operating }}
            </ion-label>
        </p>
    </ion-card>


    
    <ion-card *ngIf="bought.user">
        <h1>Details of Reporter</h1>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">username</h3>
        <p style="color:black;">
            <ion-label>{{ bought.user.username }}
            </ion-label>
        </p>


        <hr>
        <h3 style="color:#6d0101; font-size:18px;">phone_number</h3>
        <p style="color:black;">
            <ion-label>{{ bought.user.phone_number }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">email</h3>
        <p style="color:black;">
            <ion-label>{{ bought.user.email }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">first_name</h3>
        <p style="color:black;">
            <ion-label>{{ bought.user.first_name }}
            </ion-label>
        </p>

        <hr>
        <h3 style="color:#6d0101; font-size:18px;">last_name</h3>
        <p style="color:black;">
            <ion-label>{{ bought.user.last_name }}
            </ion-label>
        </p>
    </ion-card>

    <ion-button>Download As PDF</ion-button>


    <!-- <ion-grid>
        <ion-row>
            <ion-col size="5" class="no-padding">
                <ion-label>type_of_violation</ion-label>
            </ion-col>

            <ion-col size="7" class="no-padding">
                <ion-label>{{ bought.type_of_violation }}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5" class="no-padding">
                <ion-label>community_description</ion-label>
            </ion-col>

            <ion-col size="7" class="no-padding">
                <ion-label>{{ bought.community_description }}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid> -->


    <div *ngIf="loading2">
        <div class="text-center" style="align-content: center;">
            <img class="ion-text-center" style="width: 100%;margin: auto;" src="assets/imgs/tenor.gif">
        </div>
    </div>

</ion-content>