<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
      CNRG | Reporting Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn login auth-page">
  <div class="login-content">
    <!-- 
    <form [formGroup]="closureForm" (ngSubmit)="saveClosureRawMaterials(closureForm.value)">

      <br />
      <div class="row" *ngIf="!loading">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">


        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <ion-label for="exampleFormControlInput1">evidence_files</ion-label>
            <ion-input type="file" (change)="onFileChange($event)" formControlName="evidence_files"
              class="form-control"></ion-input>
          </div>

          <div class="form-group">
            <ion-label for="exampleFormControlInput1">identity_verification</ion-label>
            <ion-input type="file" (change)="onFileChange1($event)" formControlName="identity_verification"
              class="form-control"></ion-input>
          </div>
        </div>

        <div class="text text-center" style="width: 100%;">
          <ion-button type="submit" [disabled]="closureForm.invalid" class="btn btn-outline-primary btn-block">Save
          </ion-button>
        </div>
      </div>
      <div *ngIf="loading" class="text ion-text-center myloader">
        <img height="200" width="auto" src="assets/imgs/tenor.gif">
        <div class="text">
          Loading....
        </div>
      </div>
    </form> -->

    <div padding-horizontal class="ion-text-center" class="animated fadeInDown" style="padding-top: 5%;">
      <div class="ion-text-center">
        <img class="img img-rounded" src="assets/imgs/CNRG-Final-logo.png"
          style="height: auto;width: 250px;border-radius: 5%;">
      </div>

      <h1 style="text-align: center;color: #6d0101;">Centre for Natural Resource Governance</h1>
    </div>
    <hr>

    

    <p style="font-weight: bolder;">
      Introduction: Welcome to Centre for Natural Resource Governance mobile platform.
    </p>

    <p>
      This app will assist you to report incidences or cases of human rights abuses that you observe in your community.
      These cases or incidences should be related to extractive activities occurring in your area.
    </p>
    <!-- <ion-fab slot="fixed">
      <ion-fab-button fab-fixed>Report</ion-fab-button>
    </ion-fab> -->
    
    <p>
      The information that you provide will assist CNRG and your community to advocate for justice for those affected.
    CNRG will treat this information with utmost confidentiality; without disclosing your name(s). It should take you 2
    minutes to complete the report. <small style="font-size: large;font-family: Arial, Helvetica, sans-serif;font-weight: bold;">Thank you</small>.
    </p>
    <!-- <ion-fab slot="fixed">
      <ion-fab-button color="primary">Report</ion-fab-button>
    </ion-fab> -->


    <form class="list-form">

      <!-- Fixed Floating Action Button that does not scroll with the content -->
      <!-- <ion-fab slot="fixed">
        <ion-fab-button color="primary">Report</ion-fab-button>
      </ion-fab> -->

      <!-- Default Floating Action Button that scrolls with the content.-->

      <!-- <ion-fab-button [routerLink]="['/report-incident/report-incident-new']">Report</ion-fab-button> -->
      <!-- Mini -->
      <!-- <ion-fab-button size="small">Mini</ion-fab-button> -->

      <!-- Colors -->
      <!-- <ion-fab-button color="primary">Primary</ion-fab-button>
      <ion-fab-button color="secondary">Secondary</ion-fab-button>
      <ion-fab-button color="danger">Danger</ion-fab-button>
      <ion-fab-button color="light">Light</ion-fab-button>
      <ion-fab-button color="dark">Dark</ion-fab-button> -->

    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <form class="list-form">
      <ion-fab-button [routerLink]="['/report-incident/report-incident-new']">Report</ion-fab-button>
    </form>
  </ion-toolbar>
</ion-footer>