<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
            Home | {{ username }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="is_superuser == 'true'">
        <ion-row>
            <ion-col size="4" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                    <h3>Add Report</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="albums-outline"></ion-icon>

                    <h3>Added Cases</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/sellstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="folder-outline"></ion-icon>
                    <h3>All Reports</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/profile']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="person-outline"></ion-icon>

                    <h3>Profile</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/financial-summary']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="analytics-outline"></ion-icon>
                    <h3>Statistics</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/contactus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="call-outline"></ion-icon>

                    <h3>Contact Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/aboutus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="information-circle-outline"></ion-icon>
                    <h3>About Us</h3>
                </ion-card>
            </ion-col>



            <ion-col size="4" no-padding [routerLink]="['/help']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="help-circle-outline"></ion-icon>

                    <h3>Help</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" (click)="logout()" no-padding [routerLink]="['/login']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="log-out-outline"></ion-icon>

                    <h3>Logout</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid *ngIf="is_superuser == 'false'">
        <ion-row>
            <ion-col size="4" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                    <h3>Add Report</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="albums-outline"></ion-icon>

                    <h3>Added Cases</h3>
                </ion-card>
            </ion-col>
 
            <ion-col size="4" no-padding [routerLink]="['/profile']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="person-outline"></ion-icon>

                    <h3>Profile</h3>
                </ion-card>
            </ion-col>


            <ion-col size="4" no-padding [routerLink]="['/contactus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="call-outline"></ion-icon>

                    <h3>Contact Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/suggestion']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="chatbox-outline"></ion-icon>
                      <h3>Suggestions</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/aboutus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="information-circle-outline"></ion-icon>
                    <h3>About Us</h3>
                </ion-card>
            </ion-col>



            <ion-col size="4" no-padding [routerLink]="['/help']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="help-circle-outline"></ion-icon>

                    <h3>Help</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" (click)="logout()" no-padding [routerLink]="['/login']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="log-out-outline"></ion-icon>
                    <h3>Logout</h3>
                </ion-card>
            </ion-col>


        </ion-row>
    </ion-grid>

</ion-content> -->

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
            CNRG | Reporting Application
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn login auth-page">
    <div class="login-content">

        <div padding-horizontal class="ion-text-center" class="animated fadeInDown" style="padding-top: 5%;">
            <div class="ion-text-center">
                <img class="img img-rounded" src="assets/imgs/CNRG-Final-logo.png"
                    style="height: auto;width: 250px;border-radius: 5%;">
            </div>

            <h1 style="text-align: center;color: #6d0101;">Centre for Natural Resource Governance</h1>
        </div>
        <hr>

        <p>
            CNRG is implementing a project that seeks to enhance reporting of human rights abuses in selected
            communities were
            mining is taking place in Zimbabwe.
        </p>

        <p>
            The project involves capacitating communities to collect data on human rights abuses and reporting the data
            in
            real time.
        </p>

        <p> The project aims to enhance the monitoring of rights, including environmental management in communities
            through
            crowdsourcing of evidence of human rights abuses and environmental degradation in the communities.</p>
        <p>
            The goal of the project is to map and track trends of human rights abuses using data and ultimately lobbying
            extractive companies and the state to uphold rights of communities that host natural resources, based on the
            evidence gathered.
        </p>


        <form class="list-form">


        </form>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="light">
        <form class="list-form">
            <ion-fab-button [routerLink]="['/report-incident/report-incident-new']">Report</ion-fab-button>
        </form>
    </ion-toolbar>
</ion-footer>