<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
            Home | {{ username }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-img src="../../assets/imgs/banner3.PNG"></ion-img>
                <h1 style="color: #4d4dff;text-align: center;">Human Rights Monitoring Application</h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr class="new4"> -->

    <!-- <h1 style="color: #4d4dff;text-align: center;">Smart Accounting mobile application</h1> -->

    <!-- <ion-grid tappable>
        <ion-row>
            <ion-col [ngStyle]="{'background-position': 'center top','background-repeat': 'no-repeat','background-size': 'cover','max-width': '100%', 'height': 'auto'}" style="max-width: 100%;height: auto;" class="news">
                <ion-img src="../../assets/imgs/banner.jpg"></ion-img>
                <h1 class="banner ion-text-center">
                    Human Rights Monitoring Application
                </h1>
            </ion-col>
        </ion-row>
    </ion-grid> -->

    <!-- <ion-footer> -->
    <!-- <ion-grid>
        <ion-row>
            <ion-col size="4" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <img src="../../assets/imgs/edit.png">
                    <h3>Add Report</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/sellstock']" *ngIf="is_superuser == 'true'">
                <ion-card>
                    <br>
                    <img src="../../assets/imgs/dashboard/acquisition.png">
                    <h3>View Unread</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <img src="../../assets/imgs/dashboard/financial-presentation.png">
                    <h3>View All Reports</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <!-- </ion-footer> -->

    <ion-grid>
        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/edit.png">
                    <h3>Add Report</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/budget.png">

                    <h3>View Added Cases</h3>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['/sellstock']" *ngIf="is_superuser == 'true'">
                <ion-card>
                    <br>
                    <img src="./../../assets/imgs/dashboard/acquisition.png">
                    <h3>View Unread Reports</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/sellstock']" *ngIf="is_superuser == 'true'">
                <ion-card>
                    <br>
                    <img src="assets/imgs/report.png">

                    <h3>View All Reports</h3>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['/financial-summary']" *ngIf="is_superuser == 'true'">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/financial-presentation.png">
                    <h3>Statistics</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/contactus']" *ngIf="is_superuser == 'false'">
                <ion-card>
                    <br>
                    <img src="assets/imgs/phone.png">

                    <h3>Contact Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/profile']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/patient.png">

                    <h3>Current Profile</h3>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['/aboutus']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/budget.png">
                    <h3>About Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/contactus']" *ngIf="is_superuser == 'true'">
                <ion-card>
                    <br>
                    <img src="assets/imgs/phone.png">

                    <h3>Contact Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/help']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/warehouse.png">

                    <h3>Help</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" (click)="logout()" no-padding [routerLink]="['/login']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/accounting1.png">

                    <h3>Logout</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/suggestion']" *ngIf="is_superuser == 'false'">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/financial-presentation.png">

                    <h3>Suggestion Box</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>