<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
            Home | {{ username }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="is_superuser == 'true'">
        <ion-row>
            <ion-col size="4" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                    <h3>Add Report</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="albums-outline"></ion-icon>

                    <h3>Added Cases</h3>
                </ion-card>
            </ion-col>

            <!-- <ion-col size="4" no-padding [routerLink]="['/sellstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="archive-outline"></ion-icon>
                    <h3>Unread Reports</h3>
                </ion-card>
            </ion-col> -->

            <ion-col size="4" no-padding [routerLink]="['/sellstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="folder-outline"></ion-icon>
                    <h3>All Reports</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/profile']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="person-outline"></ion-icon>

                    <h3>Profile</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/financial-summary']">
                <ion-card>
                    <br>
                    <!-- <img src="assets/imgs/dashboard/financial-presentation.png"> -->
                    <ion-icon size="large" name="analytics-outline"></ion-icon>
                    <!-- analytics-outline -->
                    <h3>Statistics</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/contactus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="call-outline"></ion-icon>

                    <h3>Contact Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/aboutus']">
                <ion-card>
                    <br>
                    <!-- <img src="assets/imgs/dashboard/budget.png"> -->
                    <ion-icon size="large" name="information-circle-outline"></ion-icon>
                    <h3>About Us</h3>
                </ion-card>
            </ion-col>



            <ion-col size="4" no-padding [routerLink]="['/help']">
                <ion-card>
                    <br>
                    <!-- <img src="assets/imgs/dashboard/warehouse.png"> -->
                    <ion-icon size="large" name="help-circle-outline"></ion-icon>

                    <h3>Help</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" (click)="logout()" no-padding [routerLink]="['/login']">
                <ion-card>
                    <br>
                    <!-- <img src="assets/imgs/dashboard/accounting1.png"> -->
                    <ion-icon size="large" name="log-out-outline"></ion-icon>

                    <h3>Logout</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid *ngIf="is_superuser == 'false'">
        <ion-row>
            <ion-col size="4" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                    <h3>Add Report</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="albums-outline"></ion-icon>

                    <h3>Added Cases</h3>
                </ion-card>
            </ion-col>
 
            <ion-col size="4" no-padding [routerLink]="['/profile']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="person-outline"></ion-icon>

                    <h3>Profile</h3>
                </ion-card>
            </ion-col>


            <ion-col size="4" no-padding [routerLink]="['/contactus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="call-outline"></ion-icon>

                    <h3>Contact Us</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/suggestion']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="chatbox-outline"></ion-icon>
                      <h3>Suggestions</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding [routerLink]="['/aboutus']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="information-circle-outline"></ion-icon>
                    <h3>About Us</h3>
                </ion-card>
            </ion-col>



            <ion-col size="4" no-padding [routerLink]="['/help']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="help-circle-outline"></ion-icon>

                    <h3>Help</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" (click)="logout()" no-padding [routerLink]="['/login']">
                <ion-card>
                    <br>
                    <ion-icon size="large" name="log-out-outline"></ion-icon>
                    <h3>Logout</h3>
                </ion-card>
            </ion-col>


        </ion-row>
    </ion-grid>

</ion-content>